/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .main-menu {
        display: none;
        position: absolute;
        margin-top: 3em ;
        width: 100%;
        background-color: #3797bc;
    }
    .main-menu li{
        display: block;
    }
    .main-menu ul{
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.title-bar-caption{
    font-size: 1em;
    padding: 0.8em;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 940px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .main-menu{
        display: block !important;
    }
}